<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <interactiveMode>false</interactiveMode>
    <!-- This file may also be copied into each developer's $HOME/.m2/ directory,
         so that they may omit the '-s settings.xml' gqlArgumentsContainer on 'mvn' commands. -->
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <url>https://artifact.intuit.com/artifactory/maven-proxy/</url>
            <!-- same value as ${central.repo} from (jsk-internal-parent) POM -->
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>scm.dev.snap.repo</id>
            <username>${env.MAVEN_ARTIFACTORY_USERID}</username>
            <password>${env.MAVEN_ARTIFACTORY_TOKEN}</password>
        </server>
        <server>
            <id>scm.int.rel.repo</id>
            <username>${env.MAVEN_ARTIFACTORY_USERID}</username>
            <password>${env.MAVEN_ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
</settings>
